@model List<WedTinTucBongDa_2001207127.Models.Tin>

@{
    ViewBag.Title = "ChuyenNhuong";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

@{
    string iconclass = "";
    if (ViewBag.IconClass == "fa-sort-desc")
    {
        iconclass = "fa-sort-asc";
    }
    else
    {
        iconclass = "fa-sort-desc";
    }
}
<div class="container">
    <div class="row">
        <div class="col-8">
            <div>
                <button type="submit" class="btn btn-danger"><a style="color:white; text-decoration:none" href="/Admin/HomeAdmin/Create">Thêm Tin Chuyển Nhượng</a></button>
            </div>
            <div>
                <h3><a style="color:red; text-decoration:none" href="/Admin/HomeAdmin/ChuyenNhuong?SortColumn=NgayTao&IconClass=@iconclass&page=1">Tin Chuyển Nhượng<i class="fa @ViewBag.IconClass"> </i></a></h3>
            </div>

            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-3">
                        <a><img src="~/Hinh/ChuyenNhuong/@item.HinhAnh" style="width:100%; height:150px;" /></a>
                    </div>
                    <div class="col-9">
                        <a style="font-size:20px;color:blue">@item.NgayTao.Value.ToString("d/M/yyyy")</a>
                        <h3><a href="/Admin/HomeAdmin/Detail/@item.MaTin">@item.TieuDe</a></h3>
                        <a style="font-size:18px;">@item.TomTat</a>
                        <div>
                            <a style="font-size:18px;" href="/Admin/HomeAdmin/Edit/@item.MaTin">Edit</a> |
                            <a style="font-size:18px;" href="/Admin/HomeAdmin/Delete/@item.MaTin">Delete</a>
                        </div>
                    </div>
                </div>
                <br />
            }
            <div>
                <ul class="pagination justify-content-center">
                    @for (int i = 0; i < ViewBag.NoOfpage; i++)
                    {
                        if (i + 1 == ViewBag.page)
                        {
                            <li class="page-item active">
                                <a class="page-link" href="/Admin/HomeAdmin/ChuyenNhuong?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(i+1)">@(i + 1)</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Admin/HomeAdmin/ChuyenNhuong?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(i+1)">@(i + 1)</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col-4" style="padding:0; background-color:silver;">

        </div>
    </div>
</div>

